.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .caja {
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
  }
  